﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MTAdisclaimer.aspx.cs" Inherits="GrinGlobal.Web.v2.MTAdisclaimer" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head runat="server">
    <title></title>
</head>
<body>
    <div>  
     <asp:Label ID="lblDescription" runat="server" Text=""></asp:Label>
    </div>
 </body>
</html>
