﻿/*This css is the custom css used in the GrinGlobal Public website*/
body {
    padding-top: 10px;
    padding-bottom: 20px;
}
.cwr {
    padding-top: 0px;
}
.usa-logo-text {
    font-size: 1.0rem;
    text-decoration: none;
    text-decoration-color: black;
}
/*Nav bars at top of site.master*/
.navbar-upper {
    background-color: #008000;
    border-color: #e7e7e7;
}

    .navbar-upper .navbar-brand {
        color: #ffffff;
    }

        .navbar-upper .navbar-brand:hover,
        .navbar-upper .navbar-brand:focus {
            color: #000000;
            background-color: transparent;
        }

    .navbar-upper .navbar-text {
        color: #ffffff;
    }

    .navbar-upper .navbar-nav > li > a {
        color: #ffffff;
    }

        .navbar-upper .navbar-nav > li > a:hover,
        .navbar-upper .navbar-nav > li > a:focus {
            color: #000000;
            background-color: transparent;
        }

    .navbar-upper .navbar-nav > .active > a,
    .navbar-upper .navbar-nav > .active > a:hover,
    .navbar-upper .navbar-nav > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }

    .navbar-upper .navbar-nav > .disabled > a,
    .navbar-upper .navbar-nav > .disabled > a:hover,
    .navbar-upper .navbar-nav > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }

    .navbar-upper .navbar-toggle {
        border-color: #dddddd;
    }

        .navbar-upper .navbar-toggle:hover,
        .navbar-upper .navbar-toggle:focus {
            background-color: #dddddd;
        }

        .navbar-upper .navbar-toggle .icon-bar {
            background-color: #cccccc;
        }

    .navbar-upper .navbar-collapse,
    .navbar-upper .navbar-form {
        border-color: #e6e6e6;
    }

    .navbar-upper .navbar-nav > .dropdown > a:hover .caret,
    .navbar-upper .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #000000;
        border-bottom-color: #000000;
    }

    .navbar-upper .navbar-nav > .open > a,
    .navbar-upper .navbar-nav > .open > a:hover,
    .navbar-upper .navbar-nav > .open > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }

        .navbar-upper .navbar-nav > .open > a .caret,
        .navbar-upper .navbar-nav > .open > a:hover .caret,
        .navbar-upper .navbar-nav > .open > a:focus .caret {
            border-top-color: #555555;
            border-bottom-color: #555555;
        }

    .navbar-upper .navbar-nav > .dropdown > a .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }

    .navbar-upper .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        border-color: #ffffff;
    }

.navbar-lower {
    background-color: #e7e7eb;
    border-color: #e7e7e7;
    z-index: 900
}

    .navbar-lower .navbar-brand {
        color: #777777;
    }

        .navbar-lower .navbar-brand:hover,
        .navbar-lower .navbar-brand:focus {
            color: #ffffff;
            background-color: transparent;
        }

    .navbar-lower .navbar-text {
        color: #000;
    }

    .navbar-lower .navbar-nav > li > a {
        color: #000;
    }

        .navbar-lower .navbar-nav > li > a:hover,
        .navbar-lower .navbar-nav > li > a:focus {
            color: #ffffff;
            background-color: #008000;
        }

    .navbar-lower .navbar-nav > .active > a,
    .navbar-lower .navbar-nav > .active > a:hover,
    .navbar-lower .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #e7e7e7;
    }

    .navbar-lower .navbar-nav > .disabled > a,
    .navbar-lower .navbar-nav > .disabled > a:hover,
    .navbar-lower .navbar-nav > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }

    .navbar-lower .navbar-toggle {
        border-color: #dddddd;
    }

        .navbar-lower .navbar-toggle:hover,
        .navbar-lower .navbar-toggle:focus {
            background-color: #dddddd;
        }

        .navbar-lower .navbar-toggle .icon-bar {
            background-color: #cccccc;
        }

    .navbar-lower .navbar-collapse,
    .navbar-lower .navbar-form {
        border-color: #e6e6e6;
    }

    .navbar-lower .navbar-nav > .dropdown > a:hover .caret,
    .navbar-lower .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
        background-color: #008000
    }

    .navbar-lower .navbar-nav > .open > a,
    .navbar-lower .navbar-nav > .open > a:hover,
    .navbar-lower .navbar-nav > .open > a:focus {
        color: #555555;
        background-color: #008000;
    }

        .navbar-lower .navbar-nav > .open > a .caret,
        .navbar-lower .navbar-nav > .open > a:hover .caret,
        .navbar-lower .navbar-nav > .open > a:focus .caret {
            border-top-color: #000000;
            border-bottom-color: #000000;
        }

    .navbar-lower .navbar-nav > .dropdown > a .caret {
        border-top-color: #777777;
        border-bottom-color: #777777;
    }


/*Cart button at top of Site.Master css*/
.lblCartCount {
    font-size: 16px;
    background: #008000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    position: relative;
    border-radius: 30px;
    right: 7px;
    top: -5px;
}

.btn-cart {
    border: 2px solid darkgreen;
    color: black;
}

    .btn-cart:hover {
        background-color: lightgrey;
    }

/* Accession search results cart*/
.btn-results {
    color: #333333;
    background-color: transparent;
    border: none;
}

    .btn-results:hover,
    .btn-results:focus,
    .btn-results:active,
    .btn-results.active,
    .open .dropdown-toggle.btn-results {
        color: #333333;
        background-color: transparent;
        border: none;
    }

    .btn-results:active,
    .btn-results.active,
    .open .dropdown-toggle.btn-results {
        background-image: none;
    }

    .btn-results.disabled,
    .btn-results[disabled],
    fieldset[disabled] .btn-results,
    .btn-results.disabled:hover,
    .btn-results[disabled]:hover,
    fieldset[disabled] .btn-results:hover,
    .btn-results.disabled:focus,
    .btn-results[disabled]:focus,
    fieldset[disabled] .btn-results:focus,
    .btn-results.disabled:active,
    .btn-results[disabled]:active,
    fieldset[disabled] .btn-results:active,
    .btn-results.disabled.active,
    .btn-results[disabled].active,
    fieldset[disabled] .btn-results.active {
        background-color: #ffffff;
        border: none;
    }
/* Search results table*/
.searchresults {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 13px;
    border: 1px solid #008000;
    border-radius: 6px;
}
/* Optional for another look*/
.results {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 13px;
    border: 1px solid #bce8f1;
    border-radius: 6px;
}
/*Buttons for search results for selecting multiple results*/
.btn-all {
    color: #333333;
    background-color: #ebebeb;
    border-color: #cccccc;
}

    .btn-all:hover,
    .btn-all:focus,
    .btn-all:active,
    .btn-all.active,
    .open .dropdown-toggle.btn-all {
        color: #333333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

    .btn-all:active,
    .btn-all.active,
    .open .dropdown-toggle.btn-all {
        background-image: none;
    }

    .btn-all.disabled,
    .btn-all[disabled],
    fieldset[disabled] .btn-all,
    .btn-all.disabled:hover,
    .btn-all[disabled]:hover,
    fieldset[disabled] .btn-all:hover,
    .btn-all.disabled:focus,
    .btn-all[disabled]:focus,
    fieldset[disabled] .btn-all:focus,
    .btn-all.disabled:active,
    .btn-all[disabled]:active,
    fieldset[disabled] .btn-all:active,
    .btn-all.disabled.active,
    .btn-all[disabled].active,
    fieldset[disabled] .btn-all.active {
        background-color: #ffffff;
        border-color: #cccccc;
    }
/* To show when items are added to cart/wish list on search results*/
.panel-defaultgg {
    width: 50%;
    border-radius: 5px;
    moz-border-radius: 5px;
    border-bottom: 1px solid #dff0d8;
}

    .panel-defaultgg > .panel-heading {
        color: black;
        background-color: #f0f8ed;
        border-color: #dddddd;
    }

        .panel-defaultgg > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #dddddd;
        }

    .panel-defaultgg > .panel-body {
        color: black;
        background-color: #fcf8e3;
        border-color: #fbeed5;
    }


    .panel-defaultgg > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #dddddd;
    }

.panel-title {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 16px;
}
/* Login Logout and New user buttons*/
.btn-Login {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

    .btn-Login:hover,
    .btn-Login:focus,
    .btn-Login:active,
    .btn-Login.active,
    .open .dropdown-toggle.btn-Login {
        color: #333333;
        background-color: #ebebeb;
        border-color: #adadad;
    }

    .btn-Login:active,
    .btn-Login.active,
    .open .dropdown-toggle.btn-Login {
        background-image: none;
    }

    .btn-Login.disabled,
    .btn-Login[disabled],
    fieldset[disabled] .btn-Login,
    .btn-Login.disabled:hover,
    .btn-Login[disabled]:hover,
    fieldset[disabled] .btn-Login:hover,
    .btn-Login.disabled:focus,
    .btn-Login[disabled]:focus,
    fieldset[disabled] .btn-Login:focus,
    .btn-Login.disabled:active,
    .btn-Login[disabled]:active,
    fieldset[disabled] .btn-Login:active,
    .btn-Login.disabled.active,
    .btn-Login[disabled].active,
    fieldset[disabled] .btn-Login.active {
        background-color: #ffffff;
        border-color: #cccccc;
    }
/*Logo css*/
.logo-container {
    background-color: #fff;
    /*border-bottom: 4px solid #81C341;
  border-left: 4px solid #81C341;
  border-right: 4px solid #81C341;*/
    box-shadow: #aaa 3px 3px 18px 3px;
    position: absolute;
    left: 5%;
    z-index: 2000;
    padding: 0px 25px;
}

.logo {
    padding-top: 0 !important;
    position: relative !important;
}

h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

    h1.logo {
        width: 100px;
        height: 100px;
        /*display: block;*/
        /*background-color: #fff;*/
        background: url("../images/GGlogo-color-sm.gif") no-repeat;
        text-indent: -999999px;
    }

/*Login/out buttons*/
.btn-Login {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

    .btn-Login:hover,
    .btn-Login:focus,
    .btn-Login:active,
    .btn-Login.active,
    .open .dropdown-toggle.btn-Login {
        color: #333333;
        background-color: #ebebeb;
        border-color: #adadad;
    }

    .btn-Login:active,
    .btn-Login.active,
    .open .dropdown-toggle.btn-Login {
        background-image: none;
    }

    .btn-Login.disabled,
    .btn-Login[disabled],
    fieldset[disabled] .btn-Login,
    .btn-Login.disabled:hover,
    .btn-Login[disabled]:hover,
    fieldset[disabled] .btn-Login:hover,
    .btn-Login.disabled:focus,
    .btn-Login[disabled]:focus,
    fieldset[disabled] .btn-Login:focus,
    .btn-Login.disabled:active,
    .btn-Login[disabled]:active,
    fieldset[disabled] .btn-Login:active,
    .btn-Login.disabled.active,
    .btn-Login[disabled].active,
    fieldset[disabled] .btn-Login.active {
        background-color: #ffffff;
        border-color: #cccccc;
    }

/*Nav bar*/
.navbar-header:before,
.navbar-header:after {
    display: table;
    content: " ";
}

.navbar-header:after {
    clear: both;
}

.navbar-header:before,
.navbar-header:after {
    display: table;
    content: " ";
}

.navbar-header:after {
    clear: both;
}
/* For the panel that shows when items added to cart*/
.panel-cart-footer {
    padding: 10px 15px 5px 25px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
/* Bottom of every page. */
.footerGrin {
    padding: 10px 15px 5px 25px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 10px;
}

.footer2Grin {
    padding: 10px 15px 5px 25px;
    background-color: #e2eae1;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 10px;
}
/*Over-written btn primary for Grin*/

.btn-primary {
    color: #ffffff;
    background-color: #008000;
    border-color: #006600;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        color: #ffffff;
        background-color: #00cc00;
        border-color: #008000;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        background-image: none;
    }

    .btn-primary.disabled,
    .btn-primary[disabled],
    fieldset[disabled] .btn-primary,
    .btn-primary.disabled:hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled:active,
    .btn-primary[disabled]:active,
    fieldset[disabled] .btn-primary:active,
    .btn-primary.disabled.active,
    .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary.active {
        background-color: #008000;
        border-color: #006600;
    }

/*Customized tabs css for GRIN*/
.nav-tabs {
    border-bottom: 1px solid black;
}

    .nav-tabs .nav-link {
        float: left;
        margin-bottom: -1px;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        border-radius: 4px 4px 0 0;
    }

a.nav-link {
    color: #008000;
    text-decoration: none;
}

.nav-tabs .nav-link.disabled {
    color: #999999;
    border-top-color: #808080;
    border-left-color: #808080;
    border-right-color: #808080;
    cursor: not-allowed;
}

.nav-tabs nav-link.disabled:hover,
.nav-tabs nav-link.disabled:focus {
    color: #999999;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    background-color: #e7e7eb;
    border-top: solid 1px #e7e7eb;
}

.nav-tabs .nav-link.active {
    line-height: 1.428571429;
}

.nav-tabs .nav-link.active {
    color: white;
    cursor: default;
    background-color: #008000;
    border: 1px solid #008000;
    border-bottom-color: transparent;
}

.nav-tabs.nav-justified {
    width: 50%;
    border-bottom: 1px solid black;
}

    .nav-tabs .nav-justified > li {
        float: none;
    }

        .nav-tabs.nav-justified > li > a {
            text-align: center;
        }


/*used in advsearchcriteria*/
.form-groupl {
    margin-bottom: 5px;
}

.col-a {
    border: 1px solid black;
    border-radius: 10px;
}

.col-odd {
    background-color: #ededed;
}
/*For alternating rows*/
.row-even {
    background-color: whitesmoke;
}

/*Links*/

a {
    color: #0000cc;
    text-decoration: none;
}

    a:hover,
    a:focus {
        color: #000080;
        text-decoration: underline;
    }

    a:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
/*Title for various items through the project*/
h4,
.title {
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
}

/*Project was started with Bootstrap 3, which uses panels. Bootstrap 4 uses cards and does not have different classes for colorization*/
/*Below are panel classes from Bootstrap 3*/

.panel {
    margin-bottom: 20px;
    background-color: white;
    border: 1px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    moz-border-bottom-right-radius: 5px;
    moz-border-bottom-left-radius: 5px;
    /*border-left: 1px solid #666666;
border-right: 1px solid #666666;*/
    background-color: white;
    padding: 5px 0px 5px 25px;
}

    .panel-body:before,
    .panel-body:after {
        display: table;
        content: " ";
    }

    .panel-body:after {
        clear: both;
    }

    .panel-body:before,
    .panel-body:after {
        display: table;
        content: " ";
    }

    .panel-body:after {
        clear: both;
    }

.panel > .list-group {
    margin-bottom: 0;
}

    .panel > .list-group .list-group-item {
        border-width: 1px 0;
    }

        .panel > .list-group .list-group-item:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        .panel > .list-group .list-group-item:last-child {
            border-bottom: 0;
        }

.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}

.panel > .table {
    margin-bottom: 0;
}

.panel > .panel-body + .table {
    border-top: 1px solid #dddddd;
}

.panel-heading {
    border-radius: 5px;
    moz-border-radius: 5px;
    border-top: 1px solid #666666;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    background-color: whitesmoke;
    font-weight: bold;
    text-indent: 25px;
    padding: 5px 0px 5px 0px;
}

.panel-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

    .panel-title > a {
        color: inherit;
    }

.panel-footer {
    padding: 10px 15px 5px 25px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 10px;
}
/*Cutom for GG*/
.panel-cart-footer {
    padding: 10px 15px 5px 25px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px;
}

    .panel-group .panel + .panel {
        margin-top: 5px;
    }

.panel-group .panel-heading {
    border-bottom: 1px solid black;
}

    .panel-group .panel-heading + .panel-collapse .panel-body {
        border: 1px solid #dddddd;
    }

.panel-group .panel-footer {
    border-top: 0;
}

    .panel-group .panel-footer + .panel-collapse .panel-body {
        border-bottom: 1px solid #dddddd;
        color: green;
    }

.panel-defaultgg {
    width: 50%;
    border-radius: 5px;
    moz-border-radius: 5px;
    border-bottom: 1px solid #dff0d8;
}

    .panel-defaultgg > .panel-heading {
        color: black;
        background-color: #f0f8ed;
        border-color: #dddddd;
    }

        .panel-defaultgg > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #dddddd;
        }

    .panel-defaultgg > .panel-body {
        color: black;
        background-color: #fcf8e3;
        border-color: #fbeed5;
    }


    .panel-defaultgg > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #dddddd;
    }

.panel-default {
    /*width: 50%;*/
    border-radius: 5px;
    moz-border-radius: 5px;
    /*border-bottom: 1px solid #666666;*/
}

    .panel-default > .panel-heading {
        color: black;
        background-color: #ffe5cc;
        border-color: #ffca99;
    }

    .panel-default > .panel-body {
        color: black;
        background-color: #fff2e6;
        border: 1px solid #ffca99;
    }

    .panel-default > .panel-heading + .panel-collapse .panel-body {
        border-top-color: #ffca99;
    }

    .panel-default > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #ffca99;
    }


/*Using for advanced criteria..... change to custom*/
.panel-gg {
    width: 50%;
    border-radius: 5px;
    moz-border-radius: 5px;
    border-bottom: 1px solid #666666;
}

    .panel-gg > .panel-heading {
        color: black;
        background-color: #e7e7eb;
        border-color: #cccccc;
    }

        .panel-gg > .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e113";
            float: right;
            color: grey;
        }

.panel-heading a.collapsed:after {
    content: "\e114";
}

.panel-gg > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #dddddd;
}

.panel-gg > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #dddddd;
}

.panel-primary {
    border-color: #008000;
}

    .panel-primary > .panel-heading {
        color: #ffffff;
        background-color: #008000;
        border-color: #008000;
    }

        .panel-primary > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #008000;
        }

    .panel-primary > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #008000;
    }

.panel-success {
    border-color: #cae2b6;
}

    .panel-success > .panel-heading {
        color: black;
        background-color: #dff0d8;
        border-color: #cae2b6;
    }

    .panel-success > .panel-body {
        color: black;
        background-color: #f0f8ed;
        border: 1px solid #cae2b6;
    }

    .panel-success > .panel-heading + .panel-collapse .panel-body {
        border-top-color: #cae2b6;
    }

    .panel-success > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #cae2b6;
    }
/*Modified for login*/
.panel-successl {
    border-color: #cae2b6;
    padding: 5px 25px 5px 25px;
}

    .panel-successl > .panel-heading {
        color: black;
        background-color: #dff0d8;
        border-color: #cae2b6;
    }

    .panel-successl > .panel-body {
        color: black;
        background-color: #f0f8ed;
        border: 1px solid #cae2b6;
    }

    .panel-successl > .panel-heading + .panel-collapse .panel-body {
        border-top-color: #cae2b6;
    }

.panel-success1 > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #cae2b6;
}

/*Modified for accession detail*/
.panel-success2 {
    border-color: black;
}

    .panel-success2 > .panel-heading {
        color: #468847;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

        .panel-success2 > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #d6e9c6;
        }

    .panel-success2 > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #d6e9c6;
    }

.panel-warning {
    border-color: #fbeed5;
}

    .panel-warning > .panel-heading {
        color: #c09853;
        background-color: #fcf8e3;
        border-color: #fbeed5;
    }

        .panel-warning > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #fbeed5;
        }

    .panel-warning > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #fbeed5;
    }

.panel-danger {
    border-color: #eed3d7;
}

    .panel-danger > .panel-heading {
        color: #b94a48;
        background-color: #f2dede;
        border-color: #eed3d7;
    }

        .panel-danger > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #eed3d7;
        }

    .panel-danger > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #eed3d7;
    }

.panel-info {
    border-color: #bce8f1;
}
    .panel-info > .panel-heading {
        color: #3a87ad;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

        .panel-info > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #bce8f1;
        }

    .panel-info > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #bce8f1;
    }
/*Customized for webquery*/
.panel-info1 {
    border-color: #bce8f1;
}

    .panel-info1 > .panel-heading {
        color: #3a87ad;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    .panel-info1 > .panel-body {
        color: black;
        background-color: #eaf5fb;
        border: 1px solid #bce8f1;
    }

    .panel-info1 > .panel-heading + .panel-collapse .panel-body {
        border-top-color: #bce8f1;
    }

    .panel-info1 > .panel-footer + .panel-collapse .panel-body {
        border-top-color: #bce8f1;
    }
/*Custom panel color so there can be 5 different colors in accession other*/
.panel-custom {
    border-color: #bf9ae4;
}

    .panel-custom > .panel-heading {
        color: #995ed4;
        background-color: #d9c3ef;
        border-color: #bf9ae4;
    }

        .panel-custom > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #bf9ae4;
        }

    .panel-custom > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #bf9ae4;
    }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
/*  For uploader control */
    fieldset.thin-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.thin-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: inherit; /* Or auto */
        padding: 0 10px;
        border-bottom: none;
    }

/* For descriptor search page CheckboxList etc. */
    .choicelist label {
        margin-left: 2px;
        margin-right: 20px;
    }
}
