﻿.imagebox
{
	cursor: default;
	list-style: none;
}

.imagebox a
{
	cursor: default;
}

.imagebox a .preview
{
	display: none;
}

.imagebox a:hover .preview
{
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.imagebox img
{
	background: #fff;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 0px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	/*width: 150px;*/
	height: 112px;
}

.imagebox li
{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
}

.imagebox .preview
{

	/*width: 400px;*/
	height: 300px;
}
