﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ecousageref.ascx.cs" Inherits="GrinGlobal.Web.Controls.taxonomy.ecousageref" %>
References for <asp:Label ID="lblUsage" runat="server"></asp:Label><br />
<hr />
<asp:Repeater ID="rptreference" runat="server">
    <ItemTemplate>
       <%# Eval("reference") %>    
       <br />
    </ItemTemplate>
</asp:Repeater>